/* This is the project stylesheet */

:root {
  /* Colors */
  --light-sky-blue: rgba(155, 183, 255, 1);
  --royal-blue: rgba(33, 72, 192, 1);
  --transparent-black: rgba(0, 0, 0, 0.3);
  --white: rgba(255, 255, 255, 1);

  /* Typographies */
  /* mako-40-regular */
  --mako-40-regular-family: "Mako";
  --mako-40-regular-size: 40px;
  --mako-40-regular-weight: 400;
  --mako-40-regular-line-height: 40px;

  /* montserrat-15-light */
  --montserrat-15-light-family: "Montserrat";
  --montserrat-15-light-size: 15px;
  --montserrat-15-light-weight: 300;
  --montserrat-15-light-line-height: 40px;

  /* montserrat-15-regular */
  --montserrat-15-regular-family: "Montserrat";
  --montserrat-15-regular-size: 15px;
  --montserrat-15-regular-weight: 400;
  --montserrat-15-regular-line-height: 40px;
}

/* Dashboard Login */

.dashboard-login {
position: relative;
width: 1280px;
height: 720px;

background: #5269AD;
}

.chiropractic-belleville-nj-health-spine {
  width: 400px;
  height: 141px;
}

.patient-portal {
  height: 70px;
  width: 330px;
  color: var(--white);
  display: flex;
  text-align: center;
  text-transform: uppercase;
  font-family: var(--mako-40-regular-family);
  font-size: var(--mako-40-regular-size);
  font-weight: var(--mako-40-regular-weight);
  line-height: var(--mako-40-regular-line-height);
}

.or {
  height: 34px;
  width: 202px;
  color: var(--white);
  display: flex;
  text-align: center;
  text-transform: uppercase;
  font-family: var(--montserrat-15-regular-family);
  font-size: var(--montserrat-15-regular-size);
  font-weight: var(--montserrat-15-regular-weight);
  line-height: var(--montserrat-15-regular-line-height);
}

.register-for-a-new-account {
  height: 43px;
  width: 379px;
  color: var(--light-sky-blue);
  font-style: italic;
  display: flex;
  text-align: center;
  text-transform: uppercase;
  font-family: var(--montserrat-15-light-family);
  font-size: var(--montserrat-15-light-size);
  font-weight: var(--montserrat-15-light-weight);
  line-height: var(--montserrat-15-light-line-height);
}
