
.about-page-content-box {
  display: flex;
  flex-direction: column;
  background-color: white; }

.about-page-content-box.layout {
  position: relative;
  overflow: hidden;
  flex-grow: 1;
  margin: 0px; }

.about-page-content-box-row {
  display: flex;
  flex: 0 1 200px; }

.about-page-content-box1 {
  display: flex;
  background-color: whitesmoke; }

.about-page-content-box1.layout {
  position: relative;
  overflow: visible;
  min-height: 200px;
  flex-grow: 1;
  margin: 0px; }

.about-page-content-box1-col {
  display: flex;
  flex: 0 1 427px; }

.about-page-img {
  background: var(--src) center center/contain no-repeat; }

.about-page-img.layout {
  position: relative;
  height: 156px;
  flex-grow: 1;
  margin: 22px 0px; }

.about-page-content-box1-spacer {
  display: flex;
  flex: 0 1 500.5px; }

.about-page-content-box1-col1 {
  display: flex;
  flex: 0 1 65px; }

.about-page-home {
  display: flex;
  justify-content: center;
  font: 26.75614px/1.2 "Abel", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px; }

.about-page-home.layout {
  position: relative;
  flex-grow: 1;
  margin: 83px 0px 85px; }

.about-page-content-box1-spacer1 {
  display: flex;
  flex: 0 1 43px; }

.about-page-content-box1-col2 {
  display: flex;
  flex: 0 1 98px; }

.about-page-about-us {
  display: flex;
  justify-content: center;
  font: 26.75614px/1.2 "Abel", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px; }

.about-page-about-us.layout {
  position: relative;
  flex-grow: 1;
  margin: 83px 0px 85px; }

.about-page-content-box1-spacer2 {
  display: flex;
  flex: 0 1 43.5px; }

.about-page-content-box1-col3 {
  display: flex;
  flex: 0 1 94px; }

.about-page-services {
  display: flex;
  justify-content: center;
  font: 26.75614px/1.2 "Abel", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px; }

.about-page-services.layout {
  position: relative;
  flex-grow: 1;
  margin: 83px 0px 85px; }

.about-page-content-box1-spacer3 {
  display: flex;
  flex: 0 1 43.5px; }

.about-page-content-box1-col4 {
  display: flex;
  flex: 0 1 121px; }

.about-page-contact-us {
  display: flex;
  justify-content: center;
  font: 26.75614px/1.2 "Abel", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px; }

.about-page-contact-us.layout {
  position: relative;
  flex-grow: 1;
  margin: 83px 0px 85px; }

.about-page-content-box1-spacer4 {
  display: flex;
  flex: 0 1 43px; }

.about-page-content-box1-col5 {
  display: flex;
  flex: 0 1 441.5px; }

.about-page-log-in {
  display: flex;
  justify-content: center;
  font: 26.75614px/1.2 "Abel", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px; }

.about-page-log-in.layout {
  position: relative;
  width: 67px;
  min-width: 67px;
  margin: 83px 0px 85px; }

.about-page-content-box-row1 {
  display: flex;
  flex: 0 1 323px; }

.about-page-flex {
  display: flex; }

.about-page-flex.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 65px 80px 0px; }

.about-page-flex-col {
  display: flex;
  flex: 0 1 254px; }

.about-page-img.layout1 {
  position: relative;
  height: 254px;
  flex-grow: 1;
  margin: 0px 0px 4px; }

.about-page-flex-spacer {
  display: flex;
  flex: 0 1 13.5px; }

.about-page-flex-col1 {
  display: flex;
  flex: 1 1 569.5px; }

.about-page-flex1 {
  display: flex;
  flex-direction: column; }

.about-page-flex1.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 2px 0px 0px; }

.about-page-nurse-practitioner {
  display: flex;
  justify-content: center;
  font: 26px/1.2 "Abel", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px; }

.about-page-nurse-practitioner.layout {
  position: relative;
  width: 187px;
  min-width: 187px;
  margin: 0px 0px 0px 0.5px; }

.about-page-medium-title {
  display: flex;
  justify-content: center;
  font: 26px/1.2 "Abel", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px; }

.about-page-medium-title.layout {
  position: relative;
  width: 358px;
  min-width: 358px;
  margin: 2px 0px 0px; }

.about-page-subtitle {
  font: 20px/1.2 "Abel", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px;
  margin: 0px; }

.about-page-subtitle.layout {
  position: relative;
  margin: 24px 0px 0px 3.5px; }

.about-page-flex-spacer1 {
  display: flex;
  flex: 0 1 6px; }

.about-page-img.layout2 {
  position: relative;
  height: 255px;
  flex-grow: 1;
  margin: 0px 0px 3px; }

.about-page-flex-spacer2 {
  display: flex;
  flex: 0 1 14.5px; }

.about-page-flex-col3 {
  display: flex;
  flex: 1 1 569.5px; }

.about-page-flex2 {
  display: flex;
  flex-direction: column; }

.about-page-flex2.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 2px 0px 72px; }

.about-page-chiropractor {
  display: flex;
  justify-content: center;
  font: 26px/1.2 "Abel", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px; }

.about-page-chiropractor.layout {
  position: relative;
  width: 129px;
  min-width: 129px;
  margin: 0px; }

.about-page-medium-title.layout1 {
  position: relative;
  margin: 2px 150px 0px 0.5px; }

.about-page-content-box-row2 {
  display: flex;
  flex: 0 1 59.5px; }

.about-page-line {
  background-color: #e2e2e2; }

.about-page-line.layout {
  position: relative;
  height: 1px;
  flex-grow: 1;
  margin: 58.5px 63px 0px 62px; }

.about-page-content-box-row3 {
  display: flex;
  flex: 0 1 497.5px; }

.about-page-flex.layout1 {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 63.5px 80px 178px; }

.about-page-flex3-col {
  display: flex;
  flex: 0 1 255px; }

.about-page-img.layout3 {
  position: relative;
  height: 255px;
  flex-grow: 1;
  margin: 0px 0px 1px; }

.about-page-flex3-spacer {
  display: flex;
  flex: 0 1 16px; }

.about-page-flex3-col1 {
  display: flex;
  flex: 1 1 566px; }

.about-page-flex4 {
  display: flex;
  flex-direction: column; }

.about-page-flex4.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 0px; }

.about-page-chiropractor1 {
  font: 26px/1.2 "Abel", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px; }

.about-page-chiropractor1.layout {
  position: relative;
  margin: 0px; }

.about-page-medium-title2 {
  font: 26px/1.2 "Abel", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px; }

.about-page-medium-title2.layout {
  position: relative;
  margin: 2px 0px 0px; }

.about-page-subtitle2-box.layout {
  position: relative;
  margin: 24px 0px 0px; }

.about-page-subtitle2 {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  font: 20px/1.2 "Abel", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px;
  white-space: pre-wrap; }

.about-page-flex3-spacer1 {
  display: flex;
  flex: 0 1 6px; }

.about-page-flex3-col2 {
  display: flex;
  flex: 0 1 253px; }

.about-page-img.layout4 {
  position: relative;
  height: 254px;
  flex-grow: 1;
  margin: 0px 0px 2px; }

.about-page-flex3-spacer2 {
  display: flex;
  flex: 0 1 19px; }

.about-page-flex3-col3 {
  display: flex;
  flex: 1 1 566px; }

.about-page-flex5 {
  display: flex;
  flex-direction: column; }

.about-page-flex5.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 0px 0px 48px; }

.about-page-physical-therapist {
  font: 26px/1.2 "Abel", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px; }

.about-page-physical-therapist.layout {
  position: relative;
  margin: 0px; }

.about-page-medium-title3 {
  font: 26px/1.2 "Abel", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px; }

.about-page-medium-title3.layout {
  position: relative;
  margin: 2px 0px 0px; }

.about-page-subtitle.layout2 {
  position: relative;
  margin: 24px 0px 0px; }
