/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */
.schedule1-content-box {
  display: flex;
  flex-direction: column;
  background-color: white; }

.schedule1-content-box.layout {
  position: relative;
  overflow: hidden;
  min-height: 1080px;
  flex-grow: 1;
  margin: 0px; }

.schedule1-content-box-row {
  display: flex;
  flex: 0 1 200px; }

.schedule1-content-box1 {
  display: flex;
  background-color: whitesmoke; }

.schedule1-content-box1.layout {
  position: relative;
  overflow: visible;
  min-height: 200px;
  flex-grow: 1;
  margin: 0px; }

.schedule1-content-box1-col {
  display: flex;
  flex: 0 1 427px; }

.schedule1-img {
  background: var(--src) center center/contain no-repeat; }

.schedule1-img.layout {
  position: relative;
  height: 156px;
  flex-grow: 1;
  margin: 22px 0px; }

.schedule1-content-box1-spacer {
  display: flex;
  flex: 0 1 618.5px; }

.schedule1-content-box1-col1 {
  display: flex;
  flex: 0 1 65px; }

.schedule1-home {
  display: flex;
  justify-content: center;
  font: 26.76px/1.2 "Abel", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px; }
  @media (max-width: 767.98px) {
    .schedule1-home {
      align-items: flex-start;
      justify-content: center;
      font-size: 23px;
      text-align: center; } }

.schedule1-home.layout {
  position: relative;
  flex-grow: 1;
  margin: 83px 0px 85px; }

.schedule1-content-box1-spacer1 {
  display: flex;
  flex: 0 1 43px; }

.schedule1-content-box1-col2 {
  display: flex;
  flex: 0 1 158px; }

.schedule1-my-information {
  display: flex;
  justify-content: center;
  font: 26.75614px/1.2 "Abel", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px; }
  @media (max-width: 767.98px) {
    .schedule1-my-information {
      align-items: flex-start;
      justify-content: center;
      font-size: 23px;
      text-align: center; } }

.schedule1-my-information.layout {
  position: relative;
  flex-grow: 1;
  margin: 83px 0px 85px; }

.schedule1-content-box1-spacer2 {
  display: flex;
  flex: 0 1 43.5px; }

.schedule1-content-box1-col3 {
  display: flex;
  flex: 0 1 182px; }

.schedule1-my-appointments {
  display: flex;
  justify-content: center;
  font: 26.75614px/1.2 "Abel", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px; }
  @media (max-width: 767.98px) {
    .schedule1-my-appointments {
      align-items: flex-start;
      justify-content: center;
      font-size: 23px;
      text-align: center; } }

.schedule1-my-appointments.layout {
  position: relative;
  flex-grow: 1;
  margin: 83px 0px 85px; }

.schedule1-content-box1-spacer3 {
  display: flex;
  flex: 0 1 44px; }

.schedule1-content-box1-col4 {
  display: flex;
  flex: 0 1 72px; }

.schedule1-profile {
  display: flex;
  justify-content: center;
  font: 26.75614px/1.2 "Abel", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px; }
  @media (max-width: 767.98px) {
    .schedule1-profile {
      align-items: flex-start;
      justify-content: center;
      font-size: 23px;
      text-align: center; } }

.schedule1-profile.layout {
  position: relative;
  flex-grow: 1;
  margin: 83px 0px 85px; }

.schedule1-content-box1-spacer4 {
  display: flex;
  flex: 0 1 43.5px; }

.schedule1-content-box1-col5 {
  display: flex;
  flex: 0 1 223.5px; }

.schedule1-log-out {
  display: flex;
  justify-content: center;
  font: 26.76px/1.2 "Abel", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px; }
  @media (max-width: 767.98px) {
    .schedule1-log-out {
      align-items: flex-start;
      justify-content: center;
      font-size: 23px;
      text-align: center; } }

.schedule1-log-out.layout {
  position: relative;
  width: 85px;
  min-width: 85px;
  margin: 83px 0px 85px; }

.schedule1-content-box-row1 {
  display: flex;
  flex: 0 0 auto;
  min-height: 65px; }

.schedule1-hero-title {
  display: flex;
  justify-content: center;
  font: 48px/1.2 "Abel", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px; }
  @media (max-width: 1199.98px) {
    .schedule1-hero-title {
      align-items: flex-start;
      justify-content: center;
      font-size: 45px;
      text-align: center; } }
  @media (max-width: 991.98px) {
    .schedule1-hero-title {
      align-items: flex-start;
      justify-content: center;
      font-size: 42px;
      text-align: center; } }
  @media (max-width: 767.98px) {
    .schedule1-hero-title {
      align-items: flex-start;
      justify-content: center;
      font-size: 38px;
      text-align: center; } }

.schedule1-hero-title.layout {
  position: relative;
  width: 475px;
  min-width: 475px;
  margin: 8px 0px 0px 12.5px; }
  @media (max-width: 1919.98px) {
    .schedule1-hero-title.layout {
      width: 475px;
      min-width: 475px;
      margin: 4px 0px 0px 12.5px; } }
  @media (max-width: 1399.98px) {
    .schedule1-hero-title.layout {
      width: 475px;
      min-width: 475px;
      margin: 2px 0px 0px 12.5px; } }
  @media (max-width: 1199.98px) {
    .schedule1-hero-title.layout {
      width: 475px;
      min-width: 475px;
      margin: 1px 0px 0px 12.5px; } }

.schedule1-content-box-row2 {
  display: flex;
  flex: 0 1 110px; }

.schedule1-group {
  display: flex; }

.schedule1-group.layout {
  position: relative;
  overflow: visible;
  min-height: 97px;
  width: 644px;
  min-width: 644px;
  margin: 13px 594px 0px auto; }
  @media (max-width: 1919.98px) {
    .schedule1-group.layout {
      min-height: 97px;
      width: 644px;
      min-width: 644px;
      margin: 7px 594px 0px auto; } }
  @media (max-width: 1399.98px) {
    .schedule1-group.layout {
      min-height: 97px;
      width: 644px;
      min-width: 644px;
      margin: 4px 594px 0px auto; } }
  @media (max-width: 1199.98px) {
    .schedule1-group.layout {
      min-height: 97px;
      width: 644px;
      min-width: 644px;
      margin: 2px 594px 0px auto; } }
  @media (max-width: 991.98px) {
    .schedule1-group.layout {
      min-height: 97px;
      width: 644px;
      min-width: 644px;
      margin: 1px 594px 0px auto; } }

.schedule1-content-box2 {
  display: flex;
  background-color: #e2e2e2;
  border-radius: 20px 20px 20px 20px; }

.schedule1-content-box2.layout {
  position: relative;
  overflow: visible;
  min-height: 97px;
  flex-grow: 1;
  margin: 0px; }

.schedule1-content-box2-spacer {
  display: flex;
  flex: 0 1 411px; }

.schedule1-hero-title1 {
  font: 36px/1.2 "Abel", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px; }
  @media (max-width: 991.98px) {
    .schedule1-hero-title1 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 33px;
      text-align: left; } }
  @media (max-width: 767.98px) {
    .schedule1-hero-title1 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 30px;
      text-align: left; } }
  @media (max-width: 575.98px) {
    .schedule1-hero-title1 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 29px;
      text-align: left; } }

.schedule1-hero-title1.layout {
  position: relative;
  margin: 26px 0px 28px; }

.schedule1-content-box2-spacer1 {
  display: flex;
  flex: 0 1 7px; }

.schedule1-content-box2-col {
  display: flex;
  flex: 0 1 199px; }

.schedule1-medium-title {
  font: 24px/1.2 "Abel", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px;
  margin: 0px; }

.schedule1-medium-title.layout {
  position: relative;
  flex-grow: 1;
  margin: 17px 55px 24px 0px; }

.schedule1-content-box3 {
  display: flex;
  background-color: #225fea;
  border-radius: 20px 20px 20px 20px; }

.schedule1-content-box3.layout {
  position: absolute;
  overflow: visible;
  top: -9px;
  height: 115px;
  left: -89px;
  width: 411px; }

.schedule1-content-box3-spacer {
  display: flex;
  flex: 1 1 124.5px; }

.schedule1-content-box3-col {
  display: flex;
  flex: 0 0 auto;
  min-width: 28px; }

.schedule1-hero-title2 {
  display: flex;
  justify-content: center;
  font: 36px/1.2 "Abel", Helvetica, Arial, serif;
  color: white;
  text-align: center;
  letter-spacing: 0px; }
  @media (max-width: 991.98px) {
    .schedule1-hero-title2 {
      align-items: flex-start;
      justify-content: center;
      font-size: 33px;
      text-align: center; } }
  @media (max-width: 767.98px) {
    .schedule1-hero-title2 {
      align-items: flex-start;
      justify-content: center;
      font-size: 30px;
      text-align: center; } }
  @media (max-width: 575.98px) {
    .schedule1-hero-title2 {
      align-items: flex-start;
      justify-content: center;
      font-size: 29px;
      text-align: center; } }

.schedule1-hero-title2.layout {
  position: relative;
  flex-grow: 1;
  margin: 34px 0px 38px; }

.schedule1-content-box3-spacer1 {
  display: flex;
  flex: 0 0 auto;
  min-width: 7.5px; }

.schedule1-content-box3-col1 {
  display: flex;
  flex: 1 1 251px; }

.schedule1-medium-title1 {
  font: 24px/1.2 "Abel", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0px;
  margin: 0px; }

.schedule1-medium-title1.layout {
  position: relative;
  flex-grow: 1;
  margin: 26px 58px 33px 0px; }

.schedule1-content-box-row3 {
  display: flex;
  flex: 0 1 73px; }

.schedule1-flex {
  display: flex; }

.schedule1-flex.layout {
  position: relative;
  overflow: visible;
  width: 740px;
  min-width: 740px;
  margin: 45px auto 0px; }
  @media (max-width: 1919.98px) {
    .schedule1-flex.layout {
      width: 740px;
      min-width: 740px;
      margin: 23px auto 0px; } }
  @media (max-width: 1399.98px) {
    .schedule1-flex.layout {
      width: 740px;
      min-width: 740px;
      margin: 12px auto 0px; } }
  @media (max-width: 1199.98px) {
    .schedule1-flex.layout {
      width: 740px;
      min-width: 740px;
      margin: 6px auto 0px; } }
  @media (max-width: 991.98px) {
    .schedule1-flex.layout {
      width: 555px;
      min-width: 555px;
      margin: 3px auto 0px; } }
  @media (max-width: 767.98px) {
    .schedule1-flex.layout {
      width: 416px;
      min-width: 416px;
      margin: 2px auto 0px; } }
  @media (max-width: 575.98px) {
    .schedule1-flex.layout {
      width: 312px;
      min-width: 312px;
      margin: 1px auto 0px; } }

.schedule1-flex-col {
  display: flex;
  flex: 0 1 107px; }

.schedule1-first-name {
  display: flex;
  justify-content: center;
  font: 24px/1.2 "Abel", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px; }

.schedule1-first-name.layout {
  position: relative;
  flex-grow: 1;
  margin: 0px; }

.schedule1-flex-spacer {
  display: flex;
  flex: 0 1 276px; }

.schedule1-flex-col1 {
  display: flex;
  flex: 0 1 104px; }

.schedule1-last-name {
  display: flex;
  justify-content: center;
  font: 24px/1.2 "Abel", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px; }

.schedule1-last-name.layout {
  position: relative;
  flex-grow: 1;
  margin: 0px; }

.schedule1-content-box-row4 {
  display: flex;
  flex: 0 1 60px; }

.schedule1-flex.layout1 {
  position: relative;
  overflow: visible;
  width: 734px;
  min-width: 734px;
  margin: 3px auto 0px; }
  @media (max-width: 1919.98px) {
    .schedule1-flex.layout1 {
      width: 734px;
      min-width: 734px;
      margin: 2px auto 0px; } }
  @media (max-width: 1399.98px) {
    .schedule1-flex.layout1 {
      width: 734px;
      min-width: 734px;
      margin: 1px auto 0px; } }
  @media (max-width: 991.98px) {
    .schedule1-flex.layout1 {
      width: 551px;
      min-width: 551px;
      margin: 1px auto 0px; } }
  @media (max-width: 767.98px) {
    .schedule1-flex.layout1 {
      width: 413px;
      min-width: 413px;
      margin: 1px auto 0px; } }
  @media (max-width: 575.98px) {
    .schedule1-flex.layout1 {
      width: 310px;
      min-width: 310px;
      margin: 1px auto 0px; } }

.schedule1-flex1-col {
  display: flex;
  flex: 0 1 350px; }

.schedule1-rect {
  background-color: #e2e2e2;
  border-radius: 15px 15px 15px 15px; }

.schedule1-rect.layout {
  position: relative;
  height: 57px;
  flex-grow: 1;
  margin: 0px; }

.schedule1-flex1-spacer {
  display: flex;
  flex: 0 1 33px; }

.schedule1-content-box-row5 {
  display: flex;
  flex: 0 1 36px; }

.schedule1-flex.layout2 {
  position: relative;
  overflow: visible;
  width: 740px;
  min-width: 740px;
  margin: 8px auto 0px; }
  @media (max-width: 1919.98px) {
    .schedule1-flex.layout2 {
      width: 740px;
      min-width: 740px;
      margin: 4px auto 0px; } }
  @media (max-width: 1399.98px) {
    .schedule1-flex.layout2 {
      width: 740px;
      min-width: 740px;
      margin: 2px auto 0px; } }
  @media (max-width: 1199.98px) {
    .schedule1-flex.layout2 {
      width: 740px;
      min-width: 740px;
      margin: 1px auto 0px; } }
  @media (max-width: 991.98px) {
    .schedule1-flex.layout2 {
      width: 555px;
      min-width: 555px;
      margin: 1px auto 0px; } }
  @media (max-width: 767.98px) {
    .schedule1-flex.layout2 {
      width: 416px;
      min-width: 416px;
      margin: 1px auto 0px; } }
  @media (max-width: 575.98px) {
    .schedule1-flex.layout2 {
      width: 312px;
      min-width: 312px;
      margin: 1px auto 0px; } }

.schedule1-flex2-col {
  display: flex;
  flex: 0 1 57px; }

.schedule1-email {
  display: flex;
  justify-content: center;
  font: 24px/1.2 "Abel", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px; }

.schedule1-email.layout {
  position: relative;
  flex-grow: 1;
  margin: 0px; }

.schedule1-flex2-spacer {
  display: flex;
  flex: 0 1 326px; }

.schedule1-flex2-col1 {
  display: flex;
  flex: 0 1 127px; }

.schedule1-mobile-phone {
  display: flex;
  justify-content: center;
  font: 24px/1.2 "Abel", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px; }

.schedule1-mobile-phone.layout {
  position: relative;
  flex-grow: 1;
  margin: 0px; }

.schedule1-content-box-row6 {
  display: flex;
  flex: 0 1 60px; }

.schedule1-flex.layout3 {
  position: relative;
  overflow: visible;
  width: 734px;
  min-width: 734px;
  margin: 3px auto 0px; }
  @media (max-width: 1919.98px) {
    .schedule1-flex.layout3 {
      width: 734px;
      min-width: 734px;
      margin: 2px auto 0px; } }
  @media (max-width: 1399.98px) {
    .schedule1-flex.layout3 {
      width: 734px;
      min-width: 734px;
      margin: 1px auto 0px; } }
  @media (max-width: 991.98px) {
    .schedule1-flex.layout3 {
      width: 551px;
      min-width: 551px;
      margin: 1px auto 0px; } }
  @media (max-width: 767.98px) {
    .schedule1-flex.layout3 {
      width: 413px;
      min-width: 413px;
      margin: 1px auto 0px; } }
  @media (max-width: 575.98px) {
    .schedule1-flex.layout3 {
      width: 310px;
      min-width: 310px;
      margin: 1px auto 0px; } }

.schedule1-flex3-col {
  display: flex;
  flex: 0 1 350px; }

.schedule1-flex3-spacer {
  display: flex;
  flex: 0 1 33px; }

.schedule1-content-box-row7 {
  display: flex;
  flex: 0 0 auto;
  min-height: 36px; }

.schedule1-medium-title2 {
  display: flex;
  justify-content: center;
  font: 24px/1.2 "Abel", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px; }

.schedule1-medium-title2.layout {
  position: relative;
  width: 200px;
  min-width: 200px;
  margin: 8px 0px 0px 590px; }
  @media (max-width: 1919.98px) {
    .schedule1-medium-title2.layout {
      width: 200px;
      min-width: 200px;
      margin: 4px 0px 0px 590px; } }
  @media (max-width: 1399.98px) {
    .schedule1-medium-title2.layout {
      width: 200px;
      min-width: 200px;
      margin: 2px 0px 0px 590px; } }
  @media (max-width: 1199.98px) {
    .schedule1-medium-title2.layout {
      width: 200px;
      min-width: 200px;
      margin: 1px 0px 0px 590px; } }

.schedule1-content-box-row8 {
  display: flex;
  flex: 0 1 160px; }

.schedule1-rect4 {
  background-color: #e2e2e2;
  border-radius: 20px 20px 20px 20px; }

.schedule1-rect4.layout {
  position: relative;
  height: 157px;
  width: 733px;
  min-width: 733px;
  display: block;
  margin: 3px auto 0px; }
  @media (max-width: 1919.98px) {
    .schedule1-rect4.layout {
      height: 157px;
      width: 733px;
      min-width: 733px;
      margin: 2px auto 0px; } }
  @media (max-width: 1399.98px) {
    .schedule1-rect4.layout {
      height: 157px;
      width: 733px;
      min-width: 733px;
      margin: 1px auto 0px; } }
  @media (max-width: 991.98px) {
    .schedule1-rect4.layout {
      height: 157px;
      width: 550px;
      min-width: 550px;
      margin: 1px auto 0px; } }
  @media (max-width: 767.98px) {
    .schedule1-rect4.layout {
      height: 157px;
      width: 413px;
      min-width: 413px;
      margin: 1px auto 0px; } }
  @media (max-width: 575.98px) {
    .schedule1-rect4.layout {
      height: 157px;
      width: 310px;
      min-width: 310px;
      margin: 1px auto 0px; } }

.schedule1-content-box-row9 {
  display: flex;
  flex: 0 1 280px; }

.schedule1-cover-group {
  display: flex;
  background-color: #225fea;
  border-radius: 20px 20px 20px 20px; }

.schedule1-cover-group.layout {
  position: relative;
  overflow: visible;
  min-height: 57px;
  width: 737px;
  min-width: 737px;
  margin: 55px auto 168px; }
  @media (max-width: 1919.98px) {
    .schedule1-cover-group.layout {
      min-height: 57px;
      width: 737px;
      min-width: 737px;
      margin: 28px auto 84px; } }
  @media (max-width: 1399.98px) {
    .schedule1-cover-group.layout {
      min-height: 57px;
      width: 737px;
      min-width: 737px;
      margin: 25px auto 42px; } }
  @media (max-width: 1199.98px) {
    .schedule1-cover-group.layout {
      min-height: 57px;
      width: 737px;
      min-width: 737px;
      margin: 25px auto; } }
  @media (max-width: 991.98px) {
    .schedule1-cover-group.layout {
      min-height: 57px;
      width: 553px;
      min-width: 553px;
      margin: 25px auto; } }
  @media (max-width: 767.98px) {
    .schedule1-cover-group.layout {
      min-height: 57px;
      width: 415px;
      min-width: 415px;
      margin: 25px auto; } }
  @media (max-width: 575.98px) {
    .schedule1-cover-group.layout {
      min-height: 57px;
      width: 311px;
      min-width: 311px;
      margin: 25px auto; } }

.schedule1-continue {
  display: flex;
  justify-content: center;
  font: 36px/1.2 "Abel", Helvetica, Arial, serif;
  color: white;
  text-align: center;
  letter-spacing: 0px; }
  @media (max-width: 991.98px) {
    .schedule1-continue {
      align-items: flex-start;
      justify-content: center;
      font-size: 33px;
      text-align: center; } }
  @media (max-width: 767.98px) {
    .schedule1-continue {
      align-items: flex-start;
      justify-content: center;
      font-size: 30px;
      text-align: center; } }
  @media (max-width: 575.98px) {
    .schedule1-continue {
      align-items: flex-start;
      justify-content: center;
      font-size: 29px;
      text-align: center; } }

.schedule1-continue.layout {
  position: relative;
  width: 131px;
  min-width: 131px;
  margin: 6px auto 8px; }
  @media (max-width: 767.98px) {
    .schedule1-continue.layout {
      width: 131px;
      min-width: 131px;
      margin: 6px auto; } }
