.dashboard-login {
  background-color:
#5268ad;
  height: 720px;
  position: relative;
  width: 1280px;
}

.dashboard-login .form {
  height: 198px;
  left: 478px;
  position: absolute;
  top: 311px;
  width: 300px;
}

.dashboard-login .overlap-group {
  border-radius: 4px;
  height: 45px;
  left: 0;
  position: absolute;
  top: 0;
  width: 300px;
}

.dashboard-login .username {
  left: 50px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 12px;
  white-space: nowrap;
}

.dashboard-login .user {
  height: 20px;
  left: 11px;
  position: absolute;
  top: 12px;
  width: 20px;
}

.dashboard-login .overlap-group1 {
  border-radius: 4px;
  height: 45px;
  left: 0;
  position: absolute;
  top: 65px;
  width: 300px;
}

.dashboard-login .password {
  left: 50px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 12px;
  white-space: nowrap;
}

.dashboard-login .lock {
  height: 20px;
  left: 11px;
  position: absolute;
  top: 12px;
  width: 20px;
}

.dashboard-login .overlap-group2 {
  background-color: var(--white);
  border-radius: 4px;
  box-shadow: 0px 4px 4px
#0000004c;
  height: 45px;
  left: 0;
  position: absolute;
  top: 153px;
  width: 300px;
}

.dashboard-login .login {
  left: 123px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 13px;
  white-space: nowrap;
}

.dashboard-login .title {
  left: 463px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 230px;
  width: 330px;
}

.dashboard-login .text-1 {
  left: 276px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 21px;
  width: 728px;
}

.dashboard-login .overlap-group3 {
  height: 43px;
  left: 402px;
  position: absolute;
  top: 534px;
  width: 440px;
}

.dashboard-login .or {
  left: 0;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 202px;
}

.dashboard-login .text-2 {
  left: 61px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 379px;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,300,600|Mako:400|Lusitana:400");

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}
