<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="static/about_page_css/common.css" />
    <link rel="stylesheet" type="text/css" href="static/about_page_css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="static/about_page_css/AboutPage.css" />
  </head>
<!--- "--src:url({{ url_for('static', filename='assets/ADD PROPER PIC NAME')}})"--->
  <!--- "--src:url({{ url_for('static', filename='assets/219699db006418aa7dd4bc6946145a09.png')}})"--->
  <body>
    <div class="about-page about-page-content-box layout">
      <div class="about-page-content-box-row">
        <div class="about-page-content-box1 layout">
          <div class="about-page-content-box1-col">
            <div
              style="--src:url({{ url_for('static', filename='assets/219699db006418aa7dd4bc6946145a09.png')}})"
              class="about-page-img layout"
            ></div>
          </div>
          <div class="about-page-content-box1-spacer"></div>
          <div class="about-page-content-box1-col1">
            <h2 class="about-page-home layout"><a class="about-page-home layout" href="{{ url_for('homepage') }}">Home</a></h2>
          </div>
          <div class="about-page-content-box1-spacer1"></div>
          <div class="about-page-content-box1-col2">
            <h2 class="about-page-about-us layout"><a class="about-page-about-us layout" href="{{ url_for('aboutUs') }}">About Us</a></h2>

          </div>
          <div class="about-page-content-box1-spacer2"></div>
          <div class="about-page-content-box1-col3">
            <h2 class="about-page-services layout"><a class="about-page-services layout" href="{{ url_for('services') }}">Services</a></h2>
          </div>
          <div class="about-page-content-box1-spacer3"></div>
          <div class="about-page-content-box1-col4">
            <h2 class="about-page-contact-us layout"><a class="about-page-contact-us layout" href="{{ url_for('contactUs') }}">Contact Us</a></h2>
          </div>
          <div class="about-page-content-box1-spacer4"></div>
          <div class="about-page-content-box1-col5">
            <h2 class="about-page-log-in layout"><a class="about-page-log-in layout" href="{{ url_for('login') }}">Log In</a></h2>
          </div>
        </div>
      </div>
      <div class="about-page-content-box-row1">
        <div class="about-page-flex layout">
          <div class="about-page-flex-col">
            <div
              style= "--src:url({{ url_for('static', filename='assets/f7980375d360a2464d507b3a5a8a35bc.png')}})"
              class="about-page-img layout1"
            ></div>
          </div>
          <div class="about-page-flex-spacer"></div>
          <div class="about-page-flex-col1">
            <div class="about-page-flex1 layout">
              <h2 class="about-page-nurse-practitioner layout">
                Nurse Practitioner
              </h2>
              <h2 class="about-page-medium-title layout">
                PATRICIA KONSTANTAROS MSN, APN
              </h2>
              <h3 class="about-page-subtitle layout">
                Patricia Konstantaros is a board-certified Nurse Practitioner
                specializing in family medicine. She completed her bachelor of
                science in nursing and then graduated from the master’s program
                with honors from Rutgers College of Nursing. She holds two
                national board certifications with the American Nurses
                Credentialing Center (ANCC) as a family nurse practitioner and
                pain management. She specializes in Wellness and Health
                Promotion.
              </h3>
            </div>
          </div>
          <div class="about-page-flex-spacer1"></div>
          <div class="about-page-flex-col">
            <div
              style="--src:url({{ url_for('static', filename='assets/e7965c2f24badb2107ee5153e4ff90c8.png')}})"
              class="about-page-img layout2"
            ></div>
          </div>
          <div class="about-page-flex-spacer2"></div>
          <div class="about-page-flex-col3">
            <div class="about-page-flex2 layout">
              <h2 class="about-page-chiropractor layout">Chiropractor</h2>
              <h2 class="about-page-medium-title layout1">
                MICHAEL CHILLEMI DC, DABFM,CCIE,CMI-V
              </h2>
              <h3 class="about-page-subtitle layout">
                To strive to be among the top 100 in the chiropractic field has
                always been Dr. Chillemi’s aspiration. For the materialization
                of this aspiration, Dr. Chillemi has dedicated all his
                enthusiasm and energy to chiropractic care and natural healing
                since his childhood years.
              </h3>
            </div>
          </div>
        </div>
      </div>
      <div class="about-page-content-box-row2">
        <hr class="about-page-line layout" />
      </div>
      <div class="about-page-content-box-row3">
        <div class="about-page-flex layout1">
          <div class="about-page-flex3-col">
            <div
              style="--src:url({{ url_for('static', filename='assets/0160692cb0809201ecbf221446b50225.png')}})"
              class="about-page-img layout3"
            ></div>
          </div>
          <div class="about-page-flex3-spacer"></div>
          <div class="about-page-flex3-col1">
            <div class="about-page-flex4 layout">
              <h2 class="about-page-chiropractor1 layout">Chiropractor</h2>
              <h2 class="about-page-medium-title2 layout">
                CHRISTOPHER KAHANEC DC
              </h2>
              <h3 class="about-page-subtitle2-box layout">
                <pre class="about-page-subtitle2">
Dr. Christopher Kahanec is a New Jersey native. Dr. Kahanec received his BS in exercise physiology at William Paterson University where he studied under some of the most well-known exercise physiologists on the East Coast. Dr. Kahanec worked as an Exercise Physiologists intern at Hackensack University Medical Center, helping patients recover from a multitude of cardiac pathologies. He then went on to attend Life University in Atlanta. </pre
                >
              </h3>
            </div>
          </div>
          <div class="about-page-flex3-spacer1"></div>
          <div class="about-page-flex3-col2">
            <div

              style="--src:url({{ url_for('static', filename='assets/986504e32b67702a031958f23feb473a.png')}})"
              class="about-page-img layout4"
            ></div>
          </div>
          <div class="about-page-flex3-spacer2"></div>
          <div class="about-page-flex3-col3">
            <div class="about-page-flex5 layout">
              <h2 class="about-page-physical-therapist layout">
                Physical Therapist
              </h2>
              <h2 class="about-page-medium-title3 layout">
                MARIANNE BAYONGAN PT
              </h2>
              <h3 class="about-page-subtitle layout2">
                Marianne Bayongan, P.T, graduated with a Bachelor of Science in
                Physical Therapy in the Philippines in 1996. Upon gaining her
                Physical Therapy license in 1997 Marianne set up and managed her
                own private practice for 4 years. Throughout this time, Marianne
                trained Physical Therapists and hundreds of Physical Therapy
                interns.
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
