<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <div class="container-center-horizontal">
  <div class="dashboard-loginscreen">
    <h1 class="text-1lusitana-normal-white-40px">
      <span class="lusitana-normal-white-40px">Health &amp; Spine Wellness Center</span>
    </h1>
    <div class="patient-portalmako-normal-white-40px">
      <span class="mako-normal-white-40px">Patient portal</span>
    </div>
    <div class="form">
      <div class="overlap-groupborder-1px-white">
        <img
          class="user"
          src="user-1.png"
        />
        <div class="usernamemontserrat-light-white-14px">
          <span class="montserrat-light-white-14px">Username</span>
        </div>
      </div>
      <div class="overlap-group1border-1px-white">
        <img
          class="lock"
          src="lock-1.png"
        />
        <div class="passwordmontserrat-light-white-14px">
          <span class="montserrat-light-white-14px">password</span>
        </div>
      </div>
      <div class="overlap-group2">
        <div class="loginmontserrat-semi-bold-new-car-16px">
          <span class="montserrat-semi-bold-new-car-16px">login</span>
        </div>
      </div>
    </div>
    <div class="overlap-group3">
      <div class="ormontserrat-normal-white-15px">
        <span class="montserrat-normal-white-15px">Or</span>
      </div>
      <p class="text-2montserrat-light-jordy-blue-15px">
        <span class="montserrat-light-jordy-blue-15px">Register for a new account</span>
      </p>
    </div>
  </div>
</div>
</html>