<!DOCTYPE html>
<html>
  <!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="static/homepage_css/common.css" />
    <link rel="stylesheet" type="text/css" href="static/homepage_css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="static/homepage_css/Homepage.css" />
  </head>
    <!--- "--src:url({{ url_for('static', filename='assets/ADD PROPER PIC NAME')}})"--->
  <body>
    <div class="homepage homepage-content-box layout">
      <div class="homepage-content-box-row">
        <div class="homepage-content-box1 layout">
          <div class="homepage-content-box1-col">
            <div
              style="--src:url({{ url_for('static', filename='assets/219699db006418aa7dd4bc6946145a09.png')}})"
              class="homepage-img layout"
            ></div>
          </div>
          <div class="homepage-content-box1-spacer"></div>
          <div class="homepage-content-box1-col1">
            <h2 class="homepage-home layout">Home</h2>
          </div>
          <div class="homepage-content-box1-spacer1"></div>
          <div class="homepage-content-box1-col2">
            <h2 class="homepage-about-us layout">About Us</h2>
          </div>
          <div class="homepage-content-box1-spacer2"></div>
          <div class="homepage-content-box1-col3">
            <h2 class="homepage-services layout">Services</h2>
          </div>
          <div class="homepage-content-box1-spacer3"></div>
          <div class="homepage-content-box1-col4">
            <h2 class="homepage-contact-us layout">Contact Us</h2>
          </div>
          <div class="homepage-content-box1-spacer4"></div>
          <div class="homepage-content-box1-col5">
            <h2 class="homepage-log-in layout">Log In</h2>
          </div>
          <div class="homepage-content-box1-spacer5"></div>
          <div class="homepage-content-box1-col6">
            <div class="homepage-cover-group layout">
              <h2 class="homepage-register layout">Register</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="homepage-content-box-row1">
        <div class="homepage-flex layout">
          <div class="homepage-flex-col">
            <h1 class="homepage-hero-title layout">
              Don&#x27;t Let Pain Slow You Down. Come In &amp; Let&#x27;s Get
              Started
            </h1>
          </div>
          <div class="homepage-flex-spacer"></div>
          <div class="homepage-flex-col1">
            <div
              style="--src:url({{ url_for('static', filename='assets/f5adfc4e935e4697e36ca10271a0b60b.png')}})"
              class="homepage-img layout1"
            ></div>
          </div>
          <div class="homepage-flex-spacer1"></div>
          <div class="homepage-flex-col2">
            <div
              style="--src:url({{ url_for('static', filename='assets/4dfe8fd542b89e8253457fcb9bb9a408.png')}})"
              class="homepage-img2 layout"
            ></div>
          </div>
          <div class="homepage-flex-spacer2"></div>
          <div class="homepage-flex-col3">
            <div class="homepage-group layout">
              <h1 class="homepage-hero-title1-box layout">
                <pre class="homepage-hero-title1">
Health &amp; Spine Wellness Center

</pre
                >
              </h1>
              <h1 class="homepage-hero-title2 layout">
                INTEGRATIVE MEDICAL CLINIC BELLEVILLE NJ
              </h1>
            </div>
          </div>
        </div>
      </div>
      <div class="homepage-content-box-row2">
        <div class="homepage-flex1 layout">
          <div class="homepage-flex1-col">
            <div class="homepage-flex2 layout">
              <h1 class="homepage-hero-title3 layout">
                At Health &amp; Spine Wellness Center, we address the cause of
                your pain, not just the symptom. We believe that education is a
                big part of your success. Call today!
              </h1>
              <article class="homepage-content-box2 layout">
                <h1 class="homepage-find-us layout">Find us</h1>
                <h2 class="homepage-medium-title-box layout">
                  <pre class="homepage-medium-title">
Health &amp; Spine Wellness Center
544 Washington Avenue
Belleville, NJ 07109
(973) 759-3020</pre
                  >
                </h2>
              </article>
            </div>
          </div>
          <div class="homepage-flex1-spacer"></div>
          <div class="homepage-flex1-col1">
            <div class="homepage-content-box3 layout">
              <h1 class="homepage-hero-title4 layout">
                Schedule an Appointment
              </h1>
              <h1 class="homepage-hero-title5-box layout">
                <pre class="homepage-hero-title5">
Don&#x27;t wait another day,
get started now!</pre
                >
              </h1>
              <div class="homepage-cover-group1 layout">
                <h1 class="homepage-hero-title6 layout">Find out more!</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
