<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="static/my_info_css/common.css" />
    <link rel="stylesheet" type="text/css" href="static/my_info_css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="static/my_info_css/My_info.css" />
  </head>

  <body>
    <div class="my-info my-info-content-box layout">
      <div class="my-info-content-box-row">
        <div class="my-info-content-box1 layout">
          <div class="my-info-content-box1-col">
            <div
              style="--src:url({{ url_for('static', filename='assets/219699db006418aa7dd4bc6946145a09.png')}})"
              class="my-info-img layout"
            ></div>
          </div>
          <div class="my-info-content-box1-spacer"></div>
          <div class="my-info-content-box1-col1">
            <h2 class="my-info-home layout">Home</h2>
          </div>
          <div class="my-info-content-box1-spacer1"></div>
          <div class="my-info-content-box1-col2">
            <h2 class="my-info-my-information layout">My Information</h2>
          </div>
          <div class="my-info-content-box1-spacer2"></div>
          <div class="my-info-content-box1-col3">
            <h2 class="my-info-my-appointments layout">My Appointments</h2>
          </div>
          <div class="my-info-content-box1-spacer3"></div>
          <div class="my-info-content-box1-col4">
            <h2 class="my-info-profile layout">Profile</h2>
          </div>
          <div class="my-info-content-box1-spacer4"></div>
          <div class="my-info-content-box1-col5">
            <h2 class="my-info-log-out layout">Log Out</h2>
          </div>
        </div>
      </div>
      <div class="my-info-content-box-row1">
        <div class="my-info-flex layout2">
          <div class="my-info-flex-col">
            <div class="my-info-flex1 layout">
              <h1 class="my-info-my-information1 layout">My Information</h1>
              <div class="my-info-flex layout">
                <div class="my-info-flex2-col">
                  <h1 class="my-info-first-name layout">First Name</h1>
                </div>
                <div class="my-info-flex2-spacer"></div>
                <div class="my-info-flex2-col1">
                  <h1 class="my-info-email layout">Email</h1>
                </div>
              </div>
              <div class="my-info-flex layout1">
                <div class="my-info-flex3-col">
                  <div class="my-info-rect layout"></div>
                </div>
                <div class="my-info-flex3-spacer"></div>
                <div class="my-info-flex3-col">
                  <div class="my-info-rect layout"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="my-info-flex-spacer"></div>
          <div class="my-info-flex-col1">
            <div
              style="--src:url({{ url_for('static', filename='assets/92f70972387aab49752c65476be29d0f.png')}})"
              class="my-info-img layout1"
            ></div>
          </div>
        </div>
      </div>
      <div class="my-info-content-box-row2">
        <div class="my-info-flex layout3">
          <div class="my-info-flex4-col">
            <h1 class="my-info-last-name layout">Last Name</h1>
          </div>
          <div class="my-info-flex4-spacer"></div>
          <div class="my-info-flex4-col1">
            <h1 class="my-info-pain-level layout">Pain Level</h1>
          </div>
          <div class="my-info-flex4-spacer1"></div>
          <div class="my-info-flex4-col2">
            <h1 class="my-info-big-title layout">Update Pain Level</h1>
          </div>
        </div>
      </div>
      <div class="my-info-content-box-row3">
        <div class="my-info-flex layout4">
          <div class="my-info-flex5-col">
            <div class="my-info-rect layout2"></div>
          </div>
          <div class="my-info-flex5-spacer"></div>
          <div class="my-info-flex5-col">
            <div class="my-info-rect layout3"></div>
          </div>
          <div class="my-info-flex5-spacer1"></div>
          <div class="my-info-flex5-col">
            <div class="my-info-rect layout4"></div>
          </div>
        </div>
      </div>
      <div class="my-info-content-box-row4">
        <h1 class="my-info-update-symptoms layout">Update Symptoms</h1>
      </div>
      <div class="my-info-content-box-row5">
        <div class="my-info-flex layout5">
          <div class="my-info-flex6-col">
            <div class="my-info-flex7 layout">
              <h1 class="my-info-current-symptoms layout">Current Symptoms</h1>
              <div class="my-info-rect layout5"></div>
            </div>
          </div>
          <div class="my-info-flex6-spacer"></div>
          <div class="my-info-flex6-col1">
            <div class="my-info-flex8 layout">
              <h1 class="my-info-dob layout">DOB</h1>
              <div class="my-info-rect layout6"></div>
              <h1 class="my-info-sex layout">Sex</h1>
              <div class="my-info-rect layout7"></div>
            </div>
          </div>
          <div class="my-info-flex6-spacer1"></div>
          <div class="my-info-flex6-col2">
            <div class="my-info-rect layout8"></div>
          </div>
        </div>
      </div>
      <div class="my-info-content-box-row6">
        <div

          style="--src:url({{ url_for('static', filename='assets/cfd6a7997f1664001b7a45822e01a64d.png')}})"
          class="my-info-cover-group layout"
        >
          <h1 class="my-info-submit layout">Submit</h1>
        </div>
      </div>
    </div>
  </body>
</html>
