<!DOCTYPE html>
<html>
  <!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/css/Profile.css" />
  </head>

  <body>
    <div class="profile profile-content-box layout">
      <div class="profile-content-box-row">
        <div class="profile-content-box1 layout">
          <div class="profile-content-box1-col">
            <div
              style="--src:url(/assets/219699db006418aa7dd4bc6946145a09.png)"
              class="profile-img layout"
            ></div>
          </div>
          <div class="profile-content-box1-spacer"></div>
          <div class="profile-content-box1-col1">
            <h2 class="profile-home layout">Home</h2>
          </div>
          <div class="profile-content-box1-spacer1"></div>
          <div class="profile-content-box1-col2">
            <h2 class="profile-my-information layout">My Information</h2>
          </div>
          <div class="profile-content-box1-spacer2"></div>
          <div class="profile-content-box1-col3">
            <h2 class="profile-my-appointments layout">My Appointments</h2>
          </div>
          <div class="profile-content-box1-spacer3"></div>
          <div class="profile-content-box1-col4">
            <h2 class="profile-profile layout">Profile</h2>
          </div>
          <div class="profile-content-box1-spacer4"></div>
          <div class="profile-content-box1-col5">
            <h2 class="profile-log-out layout">Log Out</h2>
          </div>
        </div>
      </div>
      <div class="profile-content-box-row1">
        <h1 class="profile-profile1 layout">PROFILE</h1>
      </div>
      <div class="profile-content-box-row2">
        <div class="profile-flex layout">
          <div class="profile-flex-col">
            <h1 class="profile-username layout">Username</h1>
          </div>
          <div class="profile-flex-spacer"></div>
          <div class="profile-flex-col1">
            <h1 class="profile-email layout">Email</h1>
          </div>
        </div>
      </div>
      <div class="profile-content-box-row3">
        <div class="profile-flex1 layout">
          <div class="profile-flex1-col">
            <div class="profile-rect layout"></div>
          </div>
          <div class="profile-flex1-spacer"></div>
          <div class="profile-flex1-col">
            <div class="profile-rect layout"></div>
          </div>
        </div>
      </div>
      <div class="profile-content-box-row4">
        <div class="profile-flex2 layout">
          <div class="profile-flex2-col">
            <div
              style="--src:url(/assets/cfd6a7997f1664001b7a45822e01a64d.png)"
              class="profile-cover-group layout"
            >
              <h1 class="profile-reset layout">Reset</h1>
            </div>
          </div>
          <div class="profile-flex2-spacer"></div>
          <div class="profile-flex2-col">
            <div
              style="--src:url(/assets/cfd6a7997f1664001b7a45822e01a64d.png)"
              class="profile-cover-group layout"
            >
              <h1 class="profile-reset layout">Reset</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="profile-content-box-row5">
        <h1 class="profile-password layout">Password</h1>
      </div>
      <div class="profile-content-box-row6">
        <div class="profile-rect layout2"></div>
      </div>
      <div class="profile-content-box-row7">
        <div
          style="--src:url(/assets/032d5c51fa4a549e98e3cd92397ca0df.png)"
          class="profile-cover-group layout2"
        >
          <h1 class="profile-reset layout">Reset</h1>
        </div>
      </div>
    </div>
  </body>
</html>
