<!DOCTYPE html>
<html>
  <!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/schedule2_css/common.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/schedule2_css/fonts.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/schedule2_css/Schedule2.css') }}" />
  </head>

  <body>
    <form class="schedule2 schedule2-content-box layout" action="{{ url_for('schedule2') }}" method="post">
      <div class="schedule2-content-box-row">
        <div class="schedule2-content-box1 layout">
          <div class="schedule2-content-box1-col">
            <div
              style="--src:url({{ url_for('static', filename='assets/219699db006418aa7dd4bc6946145a09.png')}})"
              class="schedule2-img layout"
            ></div>
          </div>
          <div class="schedule2-content-box1-spacer"></div>
          <div class="schedule2-content-box1-col1">
            <h2 class="schedule2-home layout"><a class="schedule2-home layout" href="{{ url_for('schedule2') }}">Home</a></h2>
          </div>
          <div class="schedule2-content-box1-spacer1"></div>
          <div class="schedule2-content-box1-col2">
            <h2 class="schedule2-my-information layout"><a class="schedule2-my-information layout" href="{{ url_for('patient_info') }}">My Information</a></h2>
          </div>
          <div class="schedule2-content-box1-spacer2"></div>
          <div class="schedule2-content-box1-col3">
            <h2 class="schedule2-my-appointments layout"><a class="schedule2-my-appointments layout" href="{{ url_for('patient_appointments') }}">My Appointments</a></h2>
          </div>
          <div class="schedule2-content-box1-spacer3"></div>
          <div class="schedule2-content-box1-col4">
            <h2 class="schedule2-profile layout"><a class="schedule2-profile layout" href="{{ url_for('patient_info') }}">Profile</a></h2>
          </div>
          <div class="schedule2-content-box1-spacer4"></div>
          <div class="schedule2-content-box1-col5">
            <h2 class="schedule2-log-out layout"><a class="schedule2-log-out layout" href="{{ url_for('homepage') }}">Log Out</a></h2>
          </div>
        </div>
      </div>
      <div class="schedule2-content-box-row1">
        <h1 class="schedule2-hero-title layout">Schedule an Appointment</h1>
      </div>
      <div class="schedule2-content-box-row2">
        <div class="schedule2-group layout">
          <article class="schedule2-content-box2 layout">
            <div class="schedule2-content-box2-spacer"></div>
            <div class="schedule2-content-box2-col">
              <h1 class="schedule2-hero-title1 layout">1</h1>
            </div>
            <div class="schedule2-content-box2-spacer1"></div>
            <div class="schedule2-content-box2-col1">
              <h2 class="schedule2-medium-title layout">
                Enter Patient Information
              </h2>
            </div>
          </article>
          <article class="schedule2-content-box3 layout">
            <div class="schedule2-content-box3-spacer"></div>
            <h1 class="schedule2-hero-title2 layout">2</h1>
            <div class="schedule2-content-box3-spacer1"></div>
            <div class="schedule2-content-box3-col">
              <h2 class="schedule2-medium-title1 layout">
                Choose a Date and Time
              </h2>
            </div>
          </article>
        </div>
      </div>
      <div class="schedule2-content-box-row3">
        <div class="schedule2-flex layout">
          <div class="schedule2-flex-col">
            <h2 class="schedule2-date layout">Date</h2>
          </div>
          <div class="schedule2-flex-spacer"></div>
          <div class="schedule2-flex-col">
            <h2 class="schedule2-time layout">Time</h2>
          </div>
        </div>
      </div>
      <div class="schedule2-content-box-row4">
        <div class="schedule2-flex layout1">
          <div class="schedule2-flex1-col">
            <input class="schedule2-rect layout schedule2-date layout" type="date" name="date" placeholder="Date" id="date" required>
          </div>
          <div class="schedule2-flex1-spacer"></div>
          <div class="schedule2-flex1-col">
            <input class="schedule2-rect layout1 schedule2-time layout" type="time" name="time" placeholder="Time" id="time" required>
          </div>
        </div>
      </div>
      <div class="schedule2-content-box-row5">
        <h2 class="schedule2-medium-title2 layout">Add a Note (optional)</h2>
      </div>
      <div class="schedule2-content-box-row6">
        <input class="schedule2-rect2 layout" type="text" name="add_info" placeholder="Additional Info" id="add_info" required>
      </div>
      <div class="schedule2-content-box-row7">
        <div class="schedule2-cover-group layout">
          <input class="schedule2-cover-group layout schedule2-continue layout" type="submit" value="Submit">
        </div>
      </div>
    </form>
  </body>
</html>
