<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="static/service_css/common.css" />
    <link rel="stylesheet" type="text/css" href="static/service_css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="static/service_css/Service.css" />

    <script src="https://cdn.jsdelivr.net/gh/px2code/posize/build/v1.00.js"></script>
  </head>

  <body>
    <div class="service service-content-box layout">
      <div class="service-flex layout">
        <div class="service-flex-spacer"></div>
        <div class="service-flex-col">
          <div class="service-group layout">
            <h1 class="service-arthiritis layout">Arthiritis</h1>
            <h2 class="service-medium-title-box layout">
              <pre class="service-medium-title">
Just because you are becoming older does not imply that you must suffer from arthritic discomfort. Because arthritis in Belleville can be caused by a variety of factors, a thorough diagnosis is essential before treatment can begin. It is possible to obtain the arthritis therapy you want with the assistance of the arthritis specialists at Health &amp; Spine Wellness Center in Belleville, NJ. Make an appointment online or contact the office now to schedule one. The compassionate staff offers flexible scheduling, enabling you to begin experiencing arthritic pain relief as soon as possible.

</pre
              >
            </h2>
          </div>
        </div>
        <div class="service-flex-spacer1"></div>
        <div class="service-flex-col1">
          <div
            style="--src:url({{ url_for('static', filename='assets/9b4a8d67140f9737a9772f24cbcf6e94.png')}})"
            class="service-img layout"
          ></div>
        </div>
        <div class="service-flex-spacer2"></div>
        <div class="service-flex-col2">
          <div class="service-flex1 layout">
            <h1 class="service-neuropathy layout">Neuropathy</h1>
            <h2 class="service-medium-title1-box layout">
              <pre class="service-medium-title">
Do you have signs and symptoms of neuropathy in Belleville? Neuropathy is also known as peripheral neuropathy because of its effect on the body&#x27;s sensory and motor nerves. It is very common for patients to experience the first symptoms in their extremities (hands, arms, legs and feet). When this occurs it is referred to as Sensorimotor Polyneuropathy.

</pre
              >
            </h2>
          </div>
        </div>
        <div class="service-flex-spacer3"></div>
        <div class="service-flex-col3">
          <div
            style="--src:url({{ url_for('static', filename='assets/828de26910f2b5938d418db983a3e4a3.png')}})"
            class="service-img layout1"
          ></div>
        </div>
        <div class="service-flex-spacer4"></div>
        <div class="service-flex-col4">
          <div class="service-group layout">
            <h1 class="service-physiotherapy layout">Physiotherapy</h1>
            <h2 class="service-medium-title2-box layout">
              <pre class="service-medium-title">
Do you have signs and symptoms of neuropathy in Belleville? Neuropathy is also known as peripheral neuropathy because of its effect on the body&#x27;s sensory and motor nerves. It is very common for patients to experience the first symptoms in their extremities (hands, arms, legs and feet). When this occurs it is referred to as Sensorimotor Polyneuropathy.

</pre>
            </h2>
            <div class="service-content-box1 layout">
              <div class="service-content-box1-col">
                <div
                  style="--src:url({{ url_for('static', filename='assets/219699db006418aa7dd4bc6946145a09.png')}})"
                  class="service-img2 layout"
                ></div>
              </div>
              <div class="service-content-box1-spacer"></div>
              <div class="service-content-box1-col1">
                <h2 class="service-home layout"><a class="service-home layout" href="{{ url_for('homepage') }}">Home</a></h2>
              </div>
              <div class="service-content-box1-spacer1"></div>
              <div class="service-content-box1-col2">
                <h2 class="service-about-us layout"><a class="service-about-us layout" href="{{ url_for('aboutUs') }}">About Us</a></h2>
              </div>
              <div class="service-content-box1-spacer2"></div>
              <div class="service-content-box1-col3">
                <h2 class="service-services layout"><a class="service-services layout" href="{{ url_for('services') }}">Services</a></h2>
              </div>
              <div class="service-content-box1-spacer3"></div>
              <div class="service-content-box1-col4">
                <h2 class="service-contact-us layout"><a class="service-contact-us layout" href="{{ url_for('contactUs') }}">Contact Us</a></h2>
              </div>
              <div class="service-content-box1-spacer4"></div>
              <div class="service-content-box1-col5">
                <h2 class="service-log-in layout"><a class="service-log-in layout" href="{{ url_for('login') }}">Log In</a></h2>
              </div>
              <div class="service-content-box1-spacer5"></div>
              <div class="service-content-box1-col6">

              </div>
            </div>
          </div>
        </div>
        <div class="service-flex-spacer5"></div>
        <div class="service-flex-col5">
          <div
            style="--src:url({{ url_for('static', filename='assets/a603deef7248ee1fe8b8ce573d648155.png')}})"
            class="service-img layout"
          ></div>
        </div>
        <div class="service-flex-spacer6"></div>
        <div class="service-flex-col6">
          <div class="service-flex2 layout">
            <h1 class="service-prp layout">PRP</h1>
            <div class="service-group layout2">
              <h1 class="service-big-title-box layout">
                <pre class="service-big-title">
Are you looking for help with physiotherapy in Belleville? The team at Health &amp; Spine Wellness Center is here to help.
</pre>
              </h1>
              <h2 class="service-medium-title3 layout">
                  Physiotherapy helps restore function, improve mobility, relieve
                pain, and prevent or limit permanent physical disabilities of
                patients suffering from injuries or disease. Physiotherapy or
                &quot;medically directed rehab&quot; helps restore, maintain,
                and promote overall fitness and health. Our Belleville patients
                include accident victims and individuals with disabling
                conditions such as low-back pain, arthritis, heart disease,
                fractures, head injuries, and cerebral palsy.
              </h2>
            </div>
          </div>
        </div>
      </div>
      <div class="service-hero-title-wrap layout">
        <div
          style="--src:url({{ url_for('static', filename='assets/4711a0aacd38e97d84dac6ef1166a44a.png')}})"
          class="service-decorator layout"
        ></div>
        <div class="service-cover-group1 layout">
          <px-posize
            x="74fr 254fr 74fr"
            y="7px minmax(0px, 55fr) 22fr"
            xs-x="74fr 254fr 74fr"
            xs-y="25px minmax(0px, 55fr) 25fr"
            >
              <h1 class="service-click-here"><a class="service-click-here layout" href="{{ url_for('login') }}">Click Here</a></h1></px-posize>
        </div>
        <h1 class="service-hero-title layout">Schedule an Appointment</h1>
      </div>
    </div>
  </body>
</html>
