<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="static/staff_css/common.css" />
    <link rel="stylesheet" type="text/css" href="static/staff_css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="static/staff_css/staff.css" />
  </head>

        <body>
            <h1>Staff Profile<h1>
            </body>
            </html>
