/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */
.schedule2-content-box {
  display: flex;
  flex-direction: column;
  background-color: white; }

.schedule2-content-box.layout {
  position: relative;
  overflow: hidden;
  min-height: 1080px;
  flex-grow: 1;
  margin: 0px; }

.schedule2-content-box-row {
  display: flex;
  flex: 0 1 200px; }

.schedule2-content-box1 {
  display: flex;
  background-color: whitesmoke; }

.schedule2-content-box1.layout {
  position: relative;
  overflow: visible;
  min-height: 200px;
  flex-grow: 1;
  margin: 0px; }

.schedule2-content-box1-col {
  display: flex;
  flex: 0 1 427px; }

.schedule2-img {
  background: var(--src) center center/contain no-repeat; }

.schedule2-img.layout {
  position: relative;
  height: 156px;
  flex-grow: 1;
  margin: 22px 0px; }

.schedule2-content-box1-spacer {
  display: flex;
  flex: 0 1 618.5px; }

.schedule2-content-box1-col1 {
  display: flex;
  flex: 0 1 65px; }

.schedule2-home {
  display: flex;
  justify-content: center;
  font: 26.76px/1.2 "Abel", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px; }
  @media (max-width: 767.98px) {
    .schedule2-home {
      align-items: flex-start;
      justify-content: center;
      font-size: 23px;
      text-align: center; } }

.schedule2-home.layout {
  position: relative;
  flex-grow: 1;
  margin: 83px 0px 85px; }

.schedule2-content-box1-spacer1 {
  display: flex;
  flex: 0 1 43px; }

.schedule2-content-box1-col2 {
  display: flex;
  flex: 0 1 158px; }

.schedule2-my-information {
  display: flex;
  justify-content: center;
  font: 26.75614px/1.2 "Abel", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px; }
  @media (max-width: 767.98px) {
    .schedule2-my-information {
      align-items: flex-start;
      justify-content: center;
      font-size: 23px;
      text-align: center; } }

.schedule2-my-information.layout {
  position: relative;
  flex-grow: 1;
  margin: 83px 0px 85px; }

.schedule2-content-box1-spacer2 {
  display: flex;
  flex: 0 1 43.5px; }

.schedule2-content-box1-col3 {
  display: flex;
  flex: 0 1 182px; }

.schedule2-my-appointments {
  display: flex;
  justify-content: center;
  font: 26.75614px/1.2 "Abel", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px; }
  @media (max-width: 767.98px) {
    .schedule2-my-appointments {
      align-items: flex-start;
      justify-content: center;
      font-size: 23px;
      text-align: center; } }

.schedule2-my-appointments.layout {
  position: relative;
  flex-grow: 1;
  margin: 83px 0px 85px; }

.schedule2-content-box1-spacer3 {
  display: flex;
  flex: 0 1 44px; }

.schedule2-content-box1-col4 {
  display: flex;
  flex: 0 1 72px; }

.schedule2-profile {
  display: flex;
  justify-content: center;
  font: 26.75614px/1.2 "Abel", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px; }
  @media (max-width: 767.98px) {
    .schedule2-profile {
      align-items: flex-start;
      justify-content: center;
      font-size: 23px;
      text-align: center; } }

.schedule2-profile.layout {
  position: relative;
  flex-grow: 1;
  margin: 83px 0px 85px; }

.schedule2-content-box1-spacer4 {
  display: flex;
  flex: 0 1 43.5px; }

.schedule2-content-box1-col5 {
  display: flex;
  flex: 0 1 223.5px; }

.schedule2-log-out {
  display: flex;
  justify-content: center;
  font: 26.76px/1.2 "Abel", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px; }
  @media (max-width: 767.98px) {
    .schedule2-log-out {
      align-items: flex-start;
      justify-content: center;
      font-size: 23px;
      text-align: center; } }

.schedule2-log-out.layout {
  position: relative;
  width: 85px;
  min-width: 85px;
  margin: 83px 0px 85px; }

.schedule2-content-box-row1 {
  display: flex;
  flex: 0 0 auto;
  min-height: 65px; }

.schedule2-hero-title {
  display: flex;
  justify-content: center;
  font: 48px/1.2 "Abel", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px; }
  @media (max-width: 1199.98px) {
    .schedule2-hero-title {
      align-items: flex-start;
      justify-content: center;
      font-size: 45px;
      text-align: center; } }
  @media (max-width: 991.98px) {
    .schedule2-hero-title {
      align-items: flex-start;
      justify-content: center;
      font-size: 42px;
      text-align: center; } }
  @media (max-width: 767.98px) {
    .schedule2-hero-title {
      align-items: flex-start;
      justify-content: center;
      font-size: 38px;
      text-align: center; } }

.schedule2-hero-title.layout {
  position: relative;
  width: 475px;
  min-width: 475px;
  margin: 8px 0px 0px 12.5px; }
  @media (max-width: 1919.98px) {
    .schedule2-hero-title.layout {
      width: 475px;
      min-width: 475px;
      margin: 4px 0px 0px 12.5px; } }
  @media (max-width: 1399.98px) {
    .schedule2-hero-title.layout {
      width: 475px;
      min-width: 475px;
      margin: 2px 0px 0px 12.5px; } }
  @media (max-width: 1199.98px) {
    .schedule2-hero-title.layout {
      width: 475px;
      min-width: 475px;
      margin: 1px 0px 0px 12.5px; } }

.schedule2-content-box-row2 {
  display: flex;
  flex: 0 1 184px; }

.schedule2-group {
  display: flex; }

.schedule2-group.layout {
  position: relative;
  overflow: visible;
  min-height: 97px;
  width: 644px;
  min-width: 644px;
  margin: 87px 0px 0px 593px; }
  @media (max-width: 1919.98px) {
    .schedule2-group.layout {
      min-height: 97px;
      width: 644px;
      min-width: 644px;
      margin: 44px 0px 0px 593px; } }
  @media (max-width: 1399.98px) {
    .schedule2-group.layout {
      min-height: 97px;
      width: 644px;
      min-width: 644px;
      margin: 22px 0px 0px 593px; } }
  @media (max-width: 1199.98px) {
    .schedule2-group.layout {
      min-height: 97px;
      width: 644px;
      min-width: 644px;
      margin: 11px 0px 0px 593px; } }
  @media (max-width: 991.98px) {
    .schedule2-group.layout {
      min-height: 97px;
      width: 644px;
      min-width: 644px;
      margin: 6px 0px 0px 593px; } }
  @media (max-width: 767.98px) {
    .schedule2-group.layout {
      min-height: 97px;
      width: 644px;
      min-width: 644px;
      margin: 3px 0px 0px 593px; } }
  @media (max-width: 575.98px) {
    .schedule2-group.layout {
      min-height: 97px;
      width: 644px;
      min-width: 644px;
      margin: 2px 0px 0px 593px; } }

.schedule2-content-box2 {
  display: flex;
  background-color: #e2e2e2;
  border-radius: 20px 20px 20px 20px; }

.schedule2-content-box2.layout {
  position: relative;
  overflow: visible;
  min-height: 97px;
  flex-grow: 1;
  margin: 0px; }

.schedule2-content-box2-spacer {
  display: flex;
  flex: 0 1 83.5px; }

.schedule2-content-box2-col {
  display: flex;
  flex: 0 1 28px; }

.schedule2-hero-title1 {
  display: flex;
  justify-content: center;
  font: 36px/1.2 "Abel", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px; }
  @media (max-width: 991.98px) {
    .schedule2-hero-title1 {
      align-items: flex-start;
      justify-content: center;
      font-size: 33px;
      text-align: center; } }
  @media (max-width: 767.98px) {
    .schedule2-hero-title1 {
      align-items: flex-start;
      justify-content: center;
      font-size: 30px;
      text-align: center; } }
  @media (max-width: 575.98px) {
    .schedule2-hero-title1 {
      align-items: flex-start;
      justify-content: center;
      font-size: 29px;
      text-align: center; } }

.schedule2-hero-title1.layout {
  position: relative;
  flex-grow: 1;
  margin: 23px 0px 31px; }

.schedule2-content-box2-spacer1 {
  display: flex;
  flex: 0 1 7.5px; }

.schedule2-content-box2-col1 {
  display: flex;
  flex: 0 1 525px; }

.schedule2-medium-title {
  font: 24px/1.2 "Abel", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px;
  margin: 0px; }

.schedule2-medium-title.layout {
  position: relative;
  width: 193px;
  min-width: 193px;
  margin: 15px 0px 26px; }
  @media (max-width: 575.98px) {
    .schedule2-medium-title.layout {
      width: 193px;
      min-width: 193px;
      margin: 15px 0px; } }

.schedule2-content-box3 {
  display: flex;
  background-color: #225fea;
  border-radius: 20px 20px 20px 20px; }

.schedule2-content-box3.layout {
  position: absolute;
  overflow: visible;
  top: -9px;
  height: 115px;
  width: 411px;
  right: -89px; }

.schedule2-content-box3-spacer {
  display: flex;
  flex: 1 1 134px; }

.schedule2-hero-title2 {
  font: 36px/1.2 "Abel", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0px; }
  @media (max-width: 991.98px) {
    .schedule2-hero-title2 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 33px;
      text-align: left; } }
  @media (max-width: 767.98px) {
    .schedule2-hero-title2 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 30px;
      text-align: left; } }
  @media (max-width: 575.98px) {
    .schedule2-hero-title2 {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 29px;
      text-align: left; } }

.schedule2-hero-title2.layout {
  position: relative;
  flex: 0 0 auto;
  margin: 34px 0px 38px; }

.schedule2-content-box3-spacer1 {
  display: flex;
  flex: 0 0 auto;
  min-width: 7px; }

.schedule2-content-box3-col {
  display: flex;
  flex: 1 1 243px; }

.schedule2-medium-title1 {
  font: 24px/1.2 "Abel", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0px;
  margin: 0px; }

.schedule2-medium-title1.layout {
  position: relative;
  width: 144px;
  min-width: 144px;
  margin: 25px 0px 34px; }

.schedule2-content-box-row3 {
  display: flex;
  flex: 0 1 75px; }

.schedule2-flex {
  display: flex; }

.schedule2-flex.layout {
  position: relative;
  overflow: visible;
  width: 740px;
  min-width: 740px;
  margin: 44px auto 0px; }
  @media (max-width: 1919.98px) {
    .schedule2-flex.layout {
      width: 740px;
      min-width: 740px;
      margin: 22px auto 0px; } }
  @media (max-width: 1399.98px) {
    .schedule2-flex.layout {
      width: 740px;
      min-width: 740px;
      margin: 11px auto 0px; } }
  @media (max-width: 1199.98px) {
    .schedule2-flex.layout {
      width: 740px;
      min-width: 740px;
      margin: 6px auto 0px; } }
  @media (max-width: 991.98px) {
    .schedule2-flex.layout {
      width: 555px;
      min-width: 555px;
      margin: 3px auto 0px; } }
  @media (max-width: 767.98px) {
    .schedule2-flex.layout {
      width: 416px;
      min-width: 416px;
      margin: 2px auto 0px; } }
  @media (max-width: 575.98px) {
    .schedule2-flex.layout {
      width: 312px;
      min-width: 312px;
      margin: 1px auto 0px; } }

.schedule2-flex-col {
  display: flex;
  flex: 0 1 50px; }

.schedule2-date {
  display: flex;
  justify-content: center;
  font: 24px/1.2 "Abel", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px; }

.schedule2-date.layout {
  position: relative;
  flex-grow: 1;
  margin: 0px 0px 3px; }

.schedule2-flex-spacer {
  display: flex;
  flex: 0 1 342px; }

.schedule2-time {
  display: flex;
  justify-content: center;
  font: 24px/1.2 "Abel", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px; }

.schedule2-time.layout {
  position: relative;
  flex-grow: 1;
  margin: 3px 0px 0px; }

.schedule2-content-box-row4 {
  display: flex;
  flex: 0 1 60px; }

.schedule2-flex.layout1 {
  position: relative;
  overflow: visible;
  width: 739px;
  min-width: 739px;
  margin: 0px auto; }
  @media (max-width: 991.98px) {
    .schedule2-flex.layout1 {
      width: 554px;
      min-width: 554px;
      margin: 0px auto; } }
  @media (max-width: 767.98px) {
    .schedule2-flex.layout1 {
      width: 416px;
      min-width: 416px;
      margin: 0px auto; } }
  @media (max-width: 575.98px) {
    .schedule2-flex.layout1 {
      width: 312px;
      min-width: 312px;
      margin: 0px auto; } }

.schedule2-flex1-col {
  display: flex;
  flex: 0 1 350px; }

.schedule2-rect {
  background-color: #e2e2e2;
  border-radius: 15px 15px 15px 15px; }

.schedule2-rect.layout {
  position: relative;
  height: 57px;
  flex-grow: 1;
  margin: 0px 0px 3px; }

.schedule2-flex1-spacer {
  display: flex;
  flex: 0 1 39px; }

.schedule2-rect.layout1 {
  position: relative;
  height: 57px;
  flex-grow: 1;
  margin: 3px 0px 0px; }

.schedule2-content-box-row5 {
  display: flex;
  flex: 0 0 auto;
  min-height: 56px; }

.schedule2-medium-title2 {
  display: flex;
  justify-content: center;
  font: 24px/1.2 "Abel", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px; }

.schedule2-medium-title2.layout {
  position: relative;
  width: 200px;
  min-width: 200px;
  margin: 28px 0px 0px 590px; }
  @media (max-width: 1919.98px) {
    .schedule2-medium-title2.layout {
      width: 200px;
      min-width: 200px;
      margin: 14px 0px 0px 590px; } }
  @media (max-width: 1399.98px) {
    .schedule2-medium-title2.layout {
      width: 200px;
      min-width: 200px;
      margin: 7px 0px 0px 590px; } }
  @media (max-width: 1199.98px) {
    .schedule2-medium-title2.layout {
      width: 200px;
      min-width: 200px;
      margin: 4px 0px 0px 590px; } }
  @media (max-width: 991.98px) {
    .schedule2-medium-title2.layout {
      width: 200px;
      min-width: 200px;
      margin: 2px 0px 0px 590px; } }
  @media (max-width: 767.98px) {
    .schedule2-medium-title2.layout {
      width: 200px;
      min-width: 200px;
      margin: 1px 0px 0px 590px; } }

.schedule2-content-box-row6 {
  display: flex;
  flex: 0 1 160px; }

.schedule2-rect2 {
  background-color: #e2e2e2;
  border-radius: 20px 20px 20px 20px; }

.schedule2-rect2.layout {
  position: relative;
  height: 157px;
  width: 733px;
  min-width: 733px;
  display: block;
  margin: 3px auto 0px; }
  @media (max-width: 1919.98px) {
    .schedule2-rect2.layout {
      height: 157px;
      width: 733px;
      min-width: 733px;
      margin: 2px auto 0px; } }
  @media (max-width: 1399.98px) {
    .schedule2-rect2.layout {
      height: 157px;
      width: 733px;
      min-width: 733px;
      margin: 1px auto 0px; } }
  @media (max-width: 991.98px) {
    .schedule2-rect2.layout {
      height: 157px;
      width: 550px;
      min-width: 550px;
      margin: 1px auto 0px; } }
  @media (max-width: 767.98px) {
    .schedule2-rect2.layout {
      height: 157px;
      width: 413px;
      min-width: 413px;
      margin: 1px auto 0px; } }
  @media (max-width: 575.98px) {
    .schedule2-rect2.layout {
      height: 157px;
      width: 310px;
      min-width: 310px;
      margin: 1px auto 0px; } }

.schedule2-content-box-row7 {
  display: flex;
  flex: 0 1 280px; }

.schedule2-cover-group {
  display: flex;
  background-color: #225fea;
  border-radius: 20px 20px 20px 20px; }

.schedule2-cover-group.layout {
  position: relative;
  overflow: visible;
  min-height: 57px;
  width: 737px;
  min-width: 737px;
  margin: 55px auto 168px; }
  @media (max-width: 1919.98px) {
    .schedule2-cover-group.layout {
      min-height: 57px;
      width: 737px;
      min-width: 737px;
      margin: 28px auto 84px; } }
  @media (max-width: 1399.98px) {
    .schedule2-cover-group.layout {
      min-height: 57px;
      width: 737px;
      min-width: 737px;
      margin: 25px auto 42px; } }
  @media (max-width: 1199.98px) {
    .schedule2-cover-group.layout {
      min-height: 57px;
      width: 737px;
      min-width: 737px;
      margin: 25px auto; } }
  @media (max-width: 991.98px) {
    .schedule2-cover-group.layout {
      min-height: 57px;
      width: 553px;
      min-width: 553px;
      margin: 25px auto; } }
  @media (max-width: 767.98px) {
    .schedule2-cover-group.layout {
      min-height: 57px;
      width: 415px;
      min-width: 415px;
      margin: 25px auto; } }
  @media (max-width: 575.98px) {
    .schedule2-cover-group.layout {
      min-height: 57px;
      width: 311px;
      min-width: 311px;
      margin: 25px auto; } }

.schedule2-continue {
  display: flex;
  justify-content: center;
  font: 36px/1.2 "Abel", Helvetica, Arial, serif;
  color: white;
  text-align: center;
  letter-spacing: 0px; }
  @media (max-width: 991.98px) {
    .schedule2-continue {
      align-items: flex-start;
      justify-content: center;
      font-size: 33px;
      text-align: center; } }
  @media (max-width: 767.98px) {
    .schedule2-continue {
      align-items: flex-start;
      justify-content: center;
      font-size: 30px;
      text-align: center; } }
  @media (max-width: 575.98px) {
    .schedule2-continue {
      align-items: flex-start;
      justify-content: center;
      font-size: 29px;
      text-align: center; } }

.schedule2-continue.layout {
  position: relative;
  width: 131px;
  min-width: 131px;
  margin: 6px auto 8px; }
  @media (max-width: 767.98px) {
    .schedule2-continue.layout {
      width: 131px;
      min-width: 131px;
      margin: 6px auto; } }
